body {
    background-color: white;
    font-family: Helvetica;
    text-align: center;
}

h1 {
    font-size: 35px;
}

#container_mxn {
    padding: 20px;
}
#container_arg {
    padding: 20px;
}
#container_col {
    padding: 20px;
}

#output_mxn {
    font-size: 20px;
}
#output_arg {
    font-size: 20px;
}
#output_col {
    font-size: 20px;
}

#footer_p {
    font-size: 20px;
}
